section.bacon-box(data-background-color='#f4e175')
	div.container
		div.frame
			h1 Bacon é vida e quem discorda está totalmente errado.
			div.frying-pan
				div.frying-pan-cable
				div.egg.egg-left
					div.detail-egg
					div.detail-egg-two
				div.egg.egg-right
					div.detail-egg
					div.detail-egg-two
				div.effect-bacon
					div.bacon-mask
					div.bacon
						div.bacon-strip
						div.detail-bacon-one
						div.detail-bacon-two
						div.detail-bacon-three
						div.detail-bacon-four
						div.detail-strip
			div.lighter
			div.fire.fire-one
				div.fire-int
			div.fire.fire-two
				div.fire-int
			div.fire.fire-three
				div.fire-int
			div.coffee
