section.bernard(data-background-color='#f6f6f6')
	section
		div.foto-bernad
			img(src="http://henriquemelanda.com.br/assests/img/bernard.png", alt="Bernard de Luna")
			p Bernard de Luna
		div.foto-simpson
			img(src="img/homer.jpg", alt="Bernard de Luna")

	