section.git(data-background-color='#434343')
	div.git-int
	ul
		li.fragment Criar formas
		li.fragment Border-radius
		li.fragment Transform
		li.fragment Posicionamento
		li.fragment abosulte / relative
		li.fragment z-index