section.github-demo
	div.container
		div.github-rosto
			div.github-orelha.orelha-esquerda
			div.github-orelha.orelha-direita
			div.github-olhos
				div.olhos.olho-esquerdo
				div.olhos.olho-direito
				div.github-nariz
				div.github-boca
				div.github-arco-iris
					div.arco-iris-in.arco-vermelho
					div.arco-iris-in.arco-laranja
					div.arco-iris-in.arco-amarelo
					div.arco-iris-in.arco-verde
					div.arco-iris-in.arco-azul
					div.arco-iris-in.arco-roxo
			div.github-bigode.bigode-esquerdo-cima
			div.github-bigode.bigode-esquerdo-baixo
			div.github-bigode.bigode-direito-cima
			div.github-bigode.bigode-direito-baixo