section.para(data-background-color='#434343')
	p Não importa ser Front-End, Back-End, Design, etc….<br >O importante é amar o que você faz! Dinheiro e<br >reconhecimento são apenas uma consequência!
	p.autor - Bernard de Luna
