section.nibbler-demo
	div.tudo
		div.eye-up
			div.iris-up
		div.bar-up
		div.head-detail
		div.header
			div.left-eyebrow
			div.left-eye
				div.left-iris
			div.right-eyebrow
			div.right-eye
				div.right-iris
			div.mouth
				div.nose
					div.internal-nose
					div.nose-detail
				div.mouth-detail
				div.mouth-up
				div.mouth-up-detail
				div.left-bottom-tooth
				div.left-tooth
				div.right-bottom-tooth
				div.right-tooth