section.obrigado(data-background-color='#434343')
	h1 Obrigado 
		span :)

	ul
		li 
			a(href="henriquemelanda/css-components" target="_blank") henriquemelanda/css-components
		li 
			a(href="codepen.io/hjdesigner/" target="_blank") codepen.io/hjdesigner/
		li 
			a(href="github.com/hjdesigner" target="_blank") github.com/hjdesigner
		li 
			a(href="twitter.com/coisadedev" target="_blank") twitter.com/coisadedev
		li 
			a(href="https://www.facebook.com/hjFrontEnd" target="_blank") https://www.facebook.com/hjFrontEnd