section.tieRoot(data-background-color='rgba(97,38,38,1)')
	div.tie-int
		div.sol
			div.tie.tie-1
				div.tie-asa.asa-esq
				div.tie-asa-meio
					div.tie-cabine
				div.tie-asa.asa-dir
			div.tie.tie-2
				div.tie-asa.asa-esq
				div.tie-asa-meio
					div.tie-cabine
				div.tie-asa.asa-dir
			div.tie.tie-3
				div.tie-asa.asa-esq
				div.tie-asa-meio
					div.tie-cabine
				div.tie-asa.asa-dir
			div.tie-diferente
			div.tie-diferente-b
		div.montanha-1
		div.montanha-2
		div.montanha-3
		div.montanha-4
		div.base-montanha-1
		div.montanha-1b
		div.montanha-2b
		div.montanha-3b
		div.montanha-4b