doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/quem-sou
				include ../slides/tema-talk
				include ../slides/bernard
				include ../slides/gif-cabeca
				include ../slides/pensando
				include ../slides/bmo
				include ../slides/nibbler
				include ../slides/github
				include ../slides/util
				include ../slides/divertido
				include ../slides/git
				include ../slides/mais
				include ../slides/capitao
				include ../slides/insta
				include ../slides/olympic
				include ../slides/tie
				include ../slides/hover
				include ../slides/bateria
				include ../slides/para
				include ../slides/mensagem
				include ../slides/obrigado
		include inc/scripts
