head
    meta(charset="UTF-8")
    title Talk MeetupCSS Sorocaba
    meta(name="description" content="Talk MeetupCSS Sorocaba")
    meta(name="author" content="Henrique Rodrigues")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
